<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Riba</title>

    <script src="/scripts/lib/p5.js"></script>
    <script src="/scripts/lib/p5.dom.js"></script>
    <script src="/scripts/p5-scales.js"></script>
  </head>
  <body>
    <center>
      <div id="sketch-holder">
      <h3>Choose a scale</h3>
        <form action="/play" method="get" id="scale-form">
          <input type="text" name="scale" value="C" hidden>
          <input type="submit" value="Continue">
        </form>
        </div>
    </center>
  </body>
</html>
