<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Riba</title>
  </head>
  <body>
    <h3>Choose a scale.</h3>
    <form action="/play" method="get">
      <input type="radio" name="scale" value="c">C <br>
      <input type="radio" name="scale" value="d">D <br>
      <input type="radio" name="scale" value="e">E <br>
      <input type="radio" name="scale" value="f">F <br>
      <input type="radio" name="scale" value="g">G <br>
      <input type="radio" name="scale" value="a">A <br>
      <input type="radio" name="scale" value="b">B <br>

      <input type="submit" value="Continue">
    </form>
  </body>
</html>
