<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true">
    <title>Riba</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <script>
      // Set a global scale variable.
      let scale = '<%= scale %>';

      // Set a global scale variable in middle range freq.
      const SCALE_NOTE = scale + '4';
      const IS_MINOR = '<%= isMinor %>';

    </script>
    <script src="/scripts/lib/Tone.js"></script>
    <script src="https://github.com/nbrosowsky/tonejs-instruments.git"></script>
    <script src="/scripts/lib/p5.js"></script>
    <script src="/scripts/lib/p5.dom.js"></script>

    <script src="/scripts/helpers.js"></script>
    <script src="/scripts/scales.js"></script>
    <script src="/scripts/bubble.js"></script>
    <script src="/scripts/sketch.js"></script>
    <script src="/scripts/effects.js"></script>
    <script src="/scripts/amplitude.js"></script>
    <script src="/scripts/intervals.js"></script>
    <script src="/scripts/play.js"></script>

  </head>

  <body>

    <p>Scale is: <%= scale %><% if (isMinor) { %> min<% } %></p>
    <button onclick="changeInstrument(instrumentChanged)">change sound</button>
    <input action="action" onclick="window.history.go(-1); return false;" type="button" value="start over" />

  </body>
</html>
