<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Riba</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <script>
      // Set a global scale variable.
      let scale = '<%= scale %>';
      let diese = '<%= diese %>';

      if (diese == '1') {
        scale += '#';
      }

      if (diese == '-1') {
        scale += 'b';
      }

      // Set a global scale variable in middle range freq.
      const SCALE_NOTE = scale + '4';
      const IS_MINOR = '<%= isMinor %>';

    </script>
    <script src="/scripts/lib/Tone.js"></script>

    <script src="/scripts/lib/p5.js"></script>
    <script src="/scripts/lib/p5.dom.js"></script>

    <script src="/scripts/scales.js"></script>
    <script src="/scripts/bubble.js"></script>
    <script src="/scripts/sketch.js"></script>
    <script src="/scripts/play.js"></script>
  </head>

  <body>

    <p>Scale is: <%= scale %><% if (isMinor) { %> min<% } %></p>
  </body>
</html>
